@{
    ViewData["Title"] = "Index";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="card" style="background-color:darkslategrey;" >
    <div class="card-body">
        <canvas id="allprojecttimeChart" style="height:350px"></canvas>
    </div>
</div>
<div class="card" style="background-color: darkslateblue">
    <div class="card-body">
        <canvas id="projectTimeChart" style="height:350px"></canvas>
    </div>
</div>
<script src="~/js/ChartScripts.js" asp-append-version="true"></script>
<script>
    Load();
</script>

