@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Доброго дня</h1>
        <p class="lead">Цей сервіс служить для допомоги в time-managment у особистих та робоачих проекітв</p>
    </div>
</div>