@{
    ViewData["Title"] = "Home Page";
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/css/FormStyle.css" rel="stylesheet" />
<div class="box">
    <row>
        <h3 class="col-12 mb-4 text-white text-center">Чому варто використовувать даний сервіс</h3>
        <div class="row mt-5">
            <div class="card col-4 bg-dark text-white" style="border-radius: 30px">
                <div class="card-body">
                    Точно подивіться на свій робочий тиждень
                    Відслідковуйте час, який ви витрачаєте, працюючи на діяльність, дізнайтеся, куди точно йде час, і підвищуйте свою продуктивність.
                </div>
            </div>
            <div class="card col-4 bg-dark text-white ml-auto" style="border-radius: 30px">
                <div class="card-body">
                    Підвищити прибутковість проекту
                    Відслідковуйте час на проектах, щоб ви могли побачити, скільки часу реально займають проекти, і побачити, чи достатньо заряджаєтесь.
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="card col-4 bg-dark text-white m-auto" style="border-radius: 30px">
                <div class="card-body">
                    Покажіть клієнтам, скільки ви працювали
                    Позначте записи часу як підлягають оплаті та надсилайте звіти клієнтам на огляд.
                </div>
            </div>
        </div>
    </row>
</div>
