@{
    ViewData["Title"] = "Subscribe";
}
<link href="~/css/SubscribeStyle.css" rel="stylesheet" />
<div class="box">
    <h1>Підписка</h1>
    <h3>За 10$ в місяць</h3>
    <h3>Підписавшись, ви:</h3>
    <ol>
        <li><p>Отримаєте необмежений доступ до сервіса</p></li>
        <li><p>Отримаєте необмежений доступ до сервіса</p></li>
        <li><p>Зможете користуватись сервісом без реклами</p></li>
    </ol>
    <form method="post" class="line-buy" asp-controller="Home" asp-action="Subscribe" asp-route-id=@ViewBag.userid>
        <div class="buy_card">
            <input type="image" src="~/icon/credit_card-white-48dp.svg" />
        </div>
        <div class="buy_card">
            <input type="image" src="~/icon/card_giftcard-white-48dp.svg" />
        </div>
        <div class="buy_card">
            <input type="image" style="height: 48px;" src="~/icon/paypal-logo.svg" />
        </div>
    </form>
</div>