@{
    ViewData["Title"] = "Subscribe";
}

<div class="card">
    <div class="card-body text-center">
        <h4>Subscribe</h4>
        <h5>Якщо ви хочете користуватись даним сервісом далі вам необхідна підписка</h5>
        <h5>Ціна підписки: 10$(за 30 дній)</h5>
        <h5>Якщо ви бажаєте підписаться, натисните кнопку нижче</h5>
        <form asp-action="Subscribe" method="post" asp-route-id=@ViewBag.userid>
            <input type="submit" value="Підписаться" class="btn btn-success"/>
        </form>
    </div>
</div>