
@{
    ViewData["Title"] = "Tasks";
}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h2>Project: Project</h2>
<hr />
<div class="input-group mb-3">
    <input id="taskinput" type="text" class="form-control" placeholder="Назва задачі" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-success" type="button">Добавить</button>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr class="text-center">
            <th scope="col">Назва</th>
            <th scope="col">Час</th>
            <th scope="col">Статус</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 7; i++)
        {
            <tr>
                <th><input class="form-control taskname text-center" type="text" value="1" id="2" /></th>
                <td><input class="form-control tasktime text-center" type="number" value="1" id="2" /></td>
                <td><input type="checkbox" class="taskstatus" checked="checked" /></td>
                <td><a class="btn btn-danger text-white" id="1sdds">Видалить</a></td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/TaskListScript.js" asp-append-version="true"></script>