@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link href="~/css/FormStyle.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<form class="box" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h1>Регістрація</h1>
    <div class="input-box">
        <input type="email" placeholder="Введіть емейл" asp-for="Input.Email" required />
    </div>
    <span asp-validation-for="Input.Email" class="text-danger"></span>
    <div class="input-box">
        <input type="password" placeholder="Введіть пароль" asp-for="Input.Password" required />
    </div>
    <span asp-validation-for="Input.Password" class="text-danger"></span>
    <div class="input-box">
        <input type="password" placeholder="Повторіть пароль" asp-for="Input.ConfirmPassword" required />
    </div>
    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    <div class="input-box">
        <input type="submit" value="Зареєструватися" />
    </div>
</form>
<div class="errors_box" asp-validation-summary="All">
    <div class="error_header">
        <input type="button" id="button_close" value="Закрити" />
    </div>
</div>
<script src="~/js/FormScript.js" type="text/javascript"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
